bindPort = ${FRPS_BIND_PORT}

auth.method = "token"
auth.token = "${FRPS_TOKEN}"

transport.tcpMux = true
transport.tcpMuxKeepaliveInterval = 10
transport.tcpKeepalive = 60

allowPorts = [{ start = 25565, end = 25565 }]

log.to = "console"
log.level = "info"

webServer.addr = "127.0.0.1"
webServer.port = ${FRPS_DASHBOARD_PORT}
webServer.user = "${FRPS_DASHBOARD_USER}"
webServer.password = "${FRPS_DASHBOARD_PASSWORD}"
